.h1name
{
    text-align: left;
    padding: .5rem;
    color: white;
    margin-bottom: 0;
    text-transform: capitalize;           
    
}

.h1number
{
    text-align: right;
    padding: .5rem;
    color: black;
    text-align: right;
    opacity: .3;

}

.first-part 
{
    color: white;
    border-radius: 1rem;
    background-color: #77c850;    
    margin:  .5rem;
}

.img-detail {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 35%;    
}
.table
{
    text-align: center;    
}

.tdTitle {
    text-align: left;
    color: gray;
    
}

.tdInfo {
    text-align: right;    
}

.centerdiv 
{
    margin: auto;
    width: 60%;    
    padding: 10px;
}